.form input, textarea {
  width: 93%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #d0c8c8;
  border-radius: 1rem;
  font-size: 1rem;
}

.form h3 {
  text-align: center;
  font-size: 20px;
  color: #d0c8c8;
}

.form button {
  width: 100px;
  background: linear-gradient(90deg, #00aaff, #0044ff);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 30px;
}

.form button:hover {
  background-color: #0b5096;
}

/* ============================= */
/*  驻 - 注 495px */
/* ============================= */
@media (max-width: 495px) {
  .form input, textarea {
    width: 95%;
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .form button {
    width: 45%; /* 砖专 转 注 砖 驻转专  砖 */
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }

  .form h3 {
    font-size: 1rem;
  }
}

/* ============================= */
/*   - 注 1398px */
/* ============================= */
@media (max-width: 1398px) {
  .form input, textarea {
    width: 90%;
    font-size: 1rem;
    padding: 0.7rem;
  }

  .form button {
    width: 35%;
    font-size: 1rem;
    padding: 0.55rem 1rem;
  }

  .form h3 {
    font-size: 1.2rem;
  }
}
