.header {
  background-color: #01052a;
  padding: 20px;
  color: white;
  text-align: center;
  position: relative; 
}

.signup {
  display: inline-block;
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: -7px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
}

.signup:hover {
  background-color: #19528b;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: fit-content;
}

.navLink {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  
  /* for button */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

.navLink:hover {
  color: white;
}

.icon {
  color: #61dafb;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s;
  position: absolute;  
  left: 40px;
  top: 30px;
  z-index: 1000;
}

.icon:hover {
  color: #edeff2;
}

/* 驻转专 专专 */
.hamburger {
  display: none; /* 专 转  砖 砖*/
   font-size: 32px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

/* 转驻专  注 */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100px;
  height: 100vh;
  background: rgba(18, 58, 137, 0.90);
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: -4px 0 15px rgba(0,0,0,0.4);
  z-index: 999;
  transition: right 0.35s ease-in-out;
}

.mobileMenu.open {
  right: 0;
}


.mobileMenu a,
.mobileMenu button {
  color: #4bafca;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  background: none;
  border: none;
  text-align: right;
  cursor: pointer;
}


/* ============================= */
/*  驻 - 注 495 */
/* ============================= */
@media (max-width: 495px) {
  .header{
    padding: 30px 20px;
    min-height: 20px; 
    position: relative;
  }

  .icon {
    font-size: 1.5rem;  
    left: 60px; 
    top: 33px;
  }

  .navList {
    display: none;
  }

  .hamburger {
    display: block;/*专 转  砖 驻 专拽*/
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
  }
}

/* ============================= */
/*   - 注 1398px */
/* ============================= */
@media (max-width: 1398px) {
  .title {
    font-size: 2.2rem;
  }

  .signup {
    font-size: 18px;
    padding: 9px 18px;
  }

  .navList {
    gap: 25px;
  }

  .navLink {
    font-size: 1.1rem;
  }

  .icon {
    font-size: 1.8rem;
    margin-left: -50px;
    transform: translateY(-10px);
  }
}
