.loaderwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 12px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #e5e7eb;
  border-top: 5px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.ptext{
  color: #e5e7eb;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-wrapper p {
  font-size: 16px;
  color: #555;
}

/* טלפון */
@media (max-width: 495px) {
  .loaderwrapper {
    height: 200px;
    gap: 8px;
  }
  .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }
  .loaderwrapper p {
    font-size: 12px;
  }
}

/* טאבלט */
@media (max-width: 1398px) {
  .loaderwrapper {
    height: 250px;
    gap: 10px;
  }
  .spinner {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }
  .loaderwrapper p {
    font-size: 14px;
  }
}