.card {
  box-shadow: 0 0 25px rgba(114, 210, 236, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(to top, #21212c, #222226);
  width: 85%;
}

.image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.content {
  color: white;
  unicode-bidi: embed;
  text-align: right;
  margin-top: 1rem;
}

.button {
  width: 100px;
  background: linear-gradient(90deg, #00aaff, #0044ff);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 30px;
}

.button:hover {
  background-color: #0f5ba3;
}

/* ============================= */
/* 📱 טלפון - עד 495px */
/* ============================= */
@media (max-width: 495px) {
  .card {
    max-width: none !important;  
    width: 100%;
    margin: 0 !important;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .image {
    border-radius: 8px;
  }

 .content {
    font-size: 0.85rem;
    text-align: center;
    padding: 0.2rem;
  }

  .button {
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
  }
}

/* ============================= */
/* 💻 טאבלט - עד 1398px */
/* ============================= */
@media (max-width: 1398px) {
  .card {
    max-width: 350px;
    margin: 0.8rem auto;
  }

  .content {
    font-size: 1rem;
  }

  .button {
    padding: 0.55rem 0.9rem;
    font-size: 1rem;
  }
}
