.middle {
  background: linear-gradient(to top, #004B8E, #010528);
  min-height: 100vh;
  position: relative;
  text-align: center;
  padding-top: 2rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding: 20px;
  direction: rtl;
  text-align: right;
}

@media (max-width: 1398px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 495px) {
  .cardsContainer {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
}