.middle {
  background: linear-gradient(to top,  #004B8E,#010528);
  min-height: 100vh;
  position: relative;
  text-align: center;
  padding-top: 2rem;
}

.message {
  background: rgba(255, 255, 255, 0.1);
  color: #61dafb;
  padding: 10px 16px;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 1rem;
  text-align: center;
  border: 1px solid rgba(97, 218, 251, 0.3);
}

.loading {
  font-size: 1.2rem;
  color: #0c0101;
  text-align: center;
  margin: 20px 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding: 20px;
  direction: rtl;
  text-align: right;
}

/* 📱 טלפון - עד 495px */
@media (max-width: 495px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
}

/* 💻 טאבלט - עד 1398px */
@media (max-width: 1398px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
    padding: 15px;
  }
}
