.middle {
  background: linear-gradient(to top, #030304, #222226);
  height: 140vh;
  position: relative;
  color: aliceblue;
  text-align: center;
  padding-top: 2rem;
}

.statsFloating {
  position: fixed;
  top: 170px;
  right: 40px;
  background: rgb(43, 37, 37);
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(138, 56, 56, 0.15);
  z-index: 999;
  width: 220px;
  transition: all 0.3s ease;
}

.loading {
  font-size: 1.2rem;
  color: #0c0101;
  text-align: center;
  margin: 20px 0;
}

.cardDetails {
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #21212c, #222226);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Arial", sans-serif;
  direction: rtl;
}

.cardImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cardContent {
  padding: 1.5rem;
}

.cardContent h2 {
  font-size: 2rem;
  color: #efe9e9;
  margin-bottom: 1rem;
}

.cardContent p {
  font-size: 1.1rem;
  color: #e9e0e0;
  margin-bottom: 0.8rem;
  line-height: 1.5;
}

.cardContent strong {
  color: #1976d2;
}

.cardButton {
  background: linear-gradient(90deg, #00aaff, #0044ff);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 20px;
}

/* 📱 טלפון - עד 495px */
@media (max-width: 495px) {
   .middle {
    min-height: 100vh;
    height: auto;
    padding-top: 1.5rem;
  }
  .cardDetails {
    width: 90%;
    margin: 1rem auto;
  }

  .cardContent h2 {
    font-size: 1.4rem;
  }

  .cardContent p {
    font-size: 0.95rem;
  }

  .middle {
    height: auto;
    padding-top: 1rem;
  }

  .statsFloating {
    margin-top: 570px;
    left: 1px;
    transform: translateX(20%);
    top: 10px;
    padding: 12px 15px;
    font-size: 14px;
  }
}

/* 💻 טאבלט - עד 1398px */
@media (max-width: 1398px) {
  .cardDetails {
    max-width: 700px;
  }

  .cardContent h2 {
    font-size: 1.8rem;
  }

  .cardContent p {
    font-size: 1rem;
  }

  .statsFloating {
    width: 260px;
    right: 15px;
    top: 15px;
    padding: 14px 18px;
    font-size: 15px;
  }
}
